<h4>Products</h4>


<a routerLink="/products/add">New Product</a>

<div>
    <input type="search" class="form-control" [(ngModel)]="searchKey"/>

    <div *ngIf="searchKey" class="alert alert-primary">
        Searching for {{searchKey}}
    </div>
</div>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>Index</th>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of products | productFilter : searchKey; index as i; even as even; odd as odd" 
                    [ngClass]="{oddCls: odd, evenCls: even}">
            <td>{{i}}</td>
            <td>{{item.id}}</td>
            <td>{{item.name | uppercase}}</td>
            <td>{{item.price | currency : 'INR'}}</td>
            <td>{{item.description}}</td>
            <td>
                <button class="btn btn-warning" (click)="editProduct(item)">Edit</button>&nbsp;
                <button class="btn btn-danger" (click)="deleteProduct(item)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
