<h4>Add Product</h4>


<form #myForm="ngForm">

    <div class="form-group">
        <label>Product ID</label>
        
        <input name="pid" class="form-control" placeholder="Id" 
                    [(ngModel)]="product.id" />
        
      </div>
  <div class="form-group">
    <label>Name</label>
   
    <input name="pname" class="form-control" placeholder="Name" 
                [(ngModel)]="product.name" />
    
  </div>

  <div class="form-group">
    <label>Price</label>
  
    <input
        name="pprice"
      type="number"
      class="form-control"
      placeholder="Price"
      [(ngModel)]="product.price"
     
    />
   
  </div>

  <div class="form-group">
    <label>Description</label>
   
    <input
        name="pdesc"
        class="form-control"
        placeholder="Description"
        [(ngModel)]="product.description"
    />
  </div>
  <br />
  <div>
    <button class="btn btn-primary" (click)="save()" [disabled]="myForm.invalid || myForm.pristine">Save</button>&nbsp;
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
</form>

<pre>
    {{ product | json }}
</pre>

